In [1]:
import os
import pandas as pd
import numpy as np
import openmatrix as omx
import random
import yaml

from utility import *

import warnings
warnings.filterwarnings('ignore')

In [2]:
with open('config.yaml', 'r') as file:
    params = yaml.safe_load(file)

In [3]:
_join = os.path.join
_dir = os.path.dirname
_norm = os.path.normpath

In [4]:
model_outputs_dir = params['model_dir']
ctramp_dir = params['ctramp_dir']
iteration = params['iteration']

In [5]:
# outputs of CT-RAMP model for tour and trip file
household_model_dir = _join(model_outputs_dir, "main")

# input household and person data
person_file = _join(ctramp_dir, 'main\\personData_' + str(iteration) + '.csv')
household_file = _join(ctramp_dir, 'main\\householdData_' + str(iteration) + '.csv')

person = pd.read_csv(person_file)

hh = pd.read_csv(household_file, usecols = ['hh_id', 'taz'])
hh = hh.rename(columns = {'taz': 'home_zone'})

#taz to RDM zones, super districts, county
geo_cwks = pd.read_csv(_join(params['common_dir'], "geographies.csv")) #columns taz, rdm_zones, super_district, county

#taz to priority population
pp_perc = pd.read_excel(_join(params['common_dir'], "TAZ_Tract_cwk_summary.xlsx")) #columns = taz, pp_share 

# transbay od pairs
transbay_od = pd.read_csv(_join(params['common_dir'], "transbay_od.csv")) #columns = transbay_o, transbay_d

demand_matrices_dir = _join(model_outputs_dir, "demand_matrices")
transit_demand_dir = _join(demand_matrices_dir, "transit")

In [6]:
link21_purp_mapping = params['purpose_mapping']
link21_purp_mapping

{'work_very high': 'work',
 'shopping': 'shopping',
 'othdiscr': 'othdiscr',
 'school_grade': 'school',
 'work_high': 'work',
 'escort_kids': 'escort',
 'othmaint': 'othmaint',
 'work_med': 'work',
 'atwork_eat': 'social',
 'eatout': 'social',
 'work_low': 'work',
 'social': 'social',
 'university': 'school',
 'escort_no kids': 'escort',
 'school_high': 'school',
 'atwork_business': 'business',
 'atwork_maint': 'othmaint',
 'Home': 'home',
 'work': 'work',
 'Work': 'work',
 'atwork': 'work',
 'escort': 'escort',
 'school': 'school',
 'business': 'business'}

In [71]:
def create_trip_roster(ctramp_dir, transbay_od, geo_cwks, link21_purp_mapping):
    
    
    ind_trip = pd.read_csv(_join(ctramp_dir, 'main\\indivTripData_' + str(iteration) + '.csv'))
    jnt_trip = pd.read_csv(_join(ctramp_dir, 'main\\jointTripData_' + str(iteration) + '.csv'))
    
    jnt_trip['tours'] = 'joint'
    ind_trip['tours'] = 'inm'
    
    ind_drop_columns = ['avAvailable', 'sampleRate', 'taxiWait', 'singleTNCWait', 
                    'sharedTNCWait', 'orig_walk_segment', 'dest_walk_segment',
                    'person_id', 'person_num', 'parking_taz']

    jnt_drop_columns = ['avAvailable', 'sampleRate', 'taxiWait', 'singleTNCWait', 
                    'sharedTNCWait', 'orig_walk_segment', 'dest_walk_segment',
                'parking_taz', 'num_participants']

    ind_trip = ind_trip.drop(columns = ind_drop_columns)
    jnt_trip = jnt_trip.drop(columns = jnt_drop_columns)

    out_tripdata = pd.concat([ind_trip, jnt_trip])
    
    # add transbay_od to final tours
    out_tripdata = pd.merge(out_tripdata, transbay_od, left_on= ['orig_taz', 'dest_taz'], right_on = ['transbay_o', 'transbay_d'], how = 'left')
    out_tripdata['transbay_od'] = out_tripdata['transbay_od'].fillna(0)

    out_tripdata = out_tripdata.drop(columns = ['transbay_o', 'transbay_d'])
    #print(out_tripdata['transbay_od'].value_counts())

    # add geographies to final tours
    out_tripdata = pd.merge(out_tripdata, geo_cwks, left_on = ['orig_taz'], right_on = ['taz'], how = 'left')
    out_tripdata = out_tripdata.rename(columns = {'rdm_zones':'orig_rdm_zones', 
                                                'super_district': 'orig_super_dist',
                                                'county': 'orig_county'})
    del out_tripdata['taz']

    out_tripdata = pd.merge(out_tripdata, geo_cwks, left_on = ['dest_taz'], right_on = ['taz'], how = 'left')
    out_tripdata = out_tripdata.rename(columns = {'rdm_zones':'dest_rdm_zones', 
                                                'super_district': 'dest_super_dist',
                                                'county': 'dest_county'})

    del out_tripdata['taz']

    out_tripdata = pd.merge(out_tripdata, hh, on = 'hh_id', how = 'left')

    # add prioirty population
    out_tripdata = pd.merge(out_tripdata, pp_perc, left_on = ['home_zone'], right_on = ['taz'], how = 'left')
    print("NAs in PP Share:",  out_tripdata['pp_share'].isna().sum())
    # out_tourdata['pp_share'] = out_tourdata['pp_share'].fillna(0)
    del out_tripdata['taz']
    
    #add link21 purpose definitions
    df = out_tripdata.copy()
    df['new_dest_purp'] = df['dest_purpose']
    df['new_orig_purp'] = df['orig_purpose']
    
    # changing the purpose categories for atwork purpose
    df.loc[(df['tour_purpose'] == 'atwork_eat') & (df['dest_purpose'] == 'atwork'), 'new_dest_purp'] = 'eatout'
    df.loc[(df['tour_purpose'] == 'atwork_eat') & (df['orig_purpose'] == 'atwork'), 'new_orig_purp'] = 'eatout'

    df.loc[(df['tour_purpose'] == 'atwork_business') & (df['dest_purpose'] == 'atwork'), 'new_dest_purp'] = 'business'
    df.loc[(df['tour_purpose'] == 'atwork_business') & (df['orig_purpose'] == 'atwork'), 'new_orig_purp'] = 'business'

    df.loc[(df['tour_purpose'] == 'atwork_maint') & (df['dest_purpose'] == 'atwork'), 'new_dest_purp'] = 'othmaint'
    df.loc[(df['tour_purpose'] == 'atwork_maint') & (df['orig_purpose'] == 'atwork'), 'new_orig_purp'] = 'othmaint'
    
    # adding new link21 trip purpose
    df['link21_tour_purp'] = df['tour_purpose'].map(link21_purp_mapping)
    df['link21_orig_purp'] = df['new_orig_purp'].map(link21_purp_mapping)
    df['link21_dest_purp'] = df['new_dest_purp'].map(link21_purp_mapping)

    df['link21_trip_purp'] = df['link21_dest_purp']
    
    # for last trip on tour
    df1 = df.loc[(df['link21_dest_purp'] == 'home')]
    conditions = [
        df1['link21_tour_purp'].eq('work'),
        df1['link21_tour_purp'].eq('school'),
        ~df1['link21_tour_purp'].isin(['work','school'])
    ]

    choices = ['work', 'school', df1['link21_orig_purp']]
    df1['link21_trip_purp'] = np.select(conditions, choices, default=0)
    df2 = df.loc[(df['link21_dest_purp'] != 'home')]
    df2['link21_trip_purp'] = df2['link21_dest_purp']
    df = pd.concat([df1, df2], ignore_index=True)
    
    df1 = df.loc[df['dest_purpose'] == 'atwork']
    conditions = [
        df1['link21_tour_purp'].eq('business'),
        ~df1['link21_tour_purp'].eq('business')
    ]
    choices = ['business', df1['link21_orig_purp']]
    df1['link21_trip_purp'] = np.select(conditions, choices, default=0)
    
    df2 = df.loc[(df['dest_purpose'] != 'atwork')]
    df = pd.concat([df1, df2], ignore_index=True)
    
    df['trips'] = 1
    
    return df

In [7]:
# Read Data
# input trips
ind_trip = pd.read_csv(_join(ctramp_dir, 'main\\indivTripData_' + str(iteration) + '.csv'))
jnt_trip = pd.read_csv(_join(ctramp_dir, 'main\\jointTripData_' + str(iteration) + '.csv'))

# Checks
print("total joint trips:", len(jnt_trip))
print("total inm trips:", len(ind_trip))
print("Sample Rate:", jnt_trip['sampleRate'].unique()," ",ind_trip['sampleRate'].unique())

jnt_trip['tours'] = 'joint'
ind_trip['tours'] = 'inm'

ind_drop_columns = ['avAvailable', 'sampleRate', 'taxiWait', 'singleTNCWait', 
                    'sharedTNCWait', 'orig_walk_segment', 'dest_walk_segment',
                    'person_id', 'person_num', 'parking_taz']

jnt_drop_columns = ['avAvailable', 'sampleRate', 'taxiWait', 'singleTNCWait', 
                    'sharedTNCWait', 'orig_walk_segment', 'dest_walk_segment',
                'parking_taz', 'num_participants']

ind_trip = ind_trip.drop(columns = ind_drop_columns)
jnt_trip = jnt_trip.drop(columns = jnt_drop_columns)

out_tripdata = pd.concat([ind_trip, jnt_trip])

# add transbay_od to final tours
out_tripdata = pd.merge(out_tripdata, transbay_od, left_on= ['orig_taz', 'dest_taz'], right_on = ['transbay_o', 'transbay_d'], how = 'left')
out_tripdata['transbay_od'] = out_tripdata['transbay_od'].fillna(0)

out_tripdata = out_tripdata.drop(columns = ['transbay_o', 'transbay_d'])
#print(out_tripdata['transbay_od'].value_counts())

# add geographies to final tours
out_tripdata = pd.merge(out_tripdata, geo_cwks, left_on = ['orig_taz'], right_on = ['taz'], how = 'left')
out_tripdata = out_tripdata.rename(columns = {'rdm_zones':'orig_rdm_zones', 
                                            'super_district': 'orig_super_dist',
                                            'county': 'orig_county'})
del out_tripdata['taz']

out_tripdata = pd.merge(out_tripdata, geo_cwks, left_on = ['dest_taz'], right_on = ['taz'], how = 'left')
out_tripdata = out_tripdata.rename(columns = {'rdm_zones':'dest_rdm_zones', 
                                            'super_district': 'dest_super_dist',
                                            'county': 'dest_county'})

del out_tripdata['taz']

out_tripdata = pd.merge(out_tripdata, hh, on = 'hh_id', how = 'left')

# add prioirty population
out_tripdata = pd.merge(out_tripdata, pp_perc, left_on = ['home_zone'], right_on = ['taz'], how = 'left')
print("NAs in PP Share:",  out_tripdata['pp_share'].isna().sum())
# out_tourdata['pp_share'] = out_tourdata['pp_share'].fillna(0)
del out_tripdata['taz']

print("total trips:", len(out_tripdata))
print(out_tripdata['tours'].value_counts())

#Create non-transit trip data
out_tripdata_nontransit = out_tripdata[out_tripdata['trip_mode'].isin([1,2,3,4,5,9])]
print('total non transit trips:', len(out_tripdata_nontransit))

#Create transit only trip data
out_tripdata_transit = out_tripdata[out_tripdata['trip_mode'].isin([6,7,8])]
print('total transit trips:', len(out_tripdata_transit))

total joint trips: 80279
total inm trips: 3762667
Sample Rate: [0.15]   [0.15]
NAs in PP Share: 0
total trips: 3842946
inm      3762667
joint      80279
Name: tours, dtype: int64
total non transit trips: 3633844
total transit trips: 209102

In [29]:
ind_trip = pd.read_csv(_join(ctramp_dir, 'main\\indivTripData_' + str(iteration) + '.csv'))
jnt_trip = pd.read_csv(_join(ctramp_dir, 'main\\jointTripData_' + str(iteration) + '.csv'))

In [10]:
ind_trip.columns

Index(['hh_id', 'person_id', 'person_num', 'tour_id', 'stop_id', 'inbound',
       'tour_purpose', 'orig_purpose', 'dest_purpose', 'orig_taz',
       'orig_walk_segment', 'dest_taz', 'dest_walk_segment', 'parking_taz',
       'depart_hour', 'trip_mode', 'tour_mode', 'tour_category', 'avAvailable',
       'sampleRate', 'taxiWait', 'singleTNCWait', 'sharedTNCWait'],
      dtype='object')

In [11]:
jnt_trip.columns

Index(['hh_id', 'tour_id', 'stop_id', 'inbound', 'tour_purpose',
       'orig_purpose', 'dest_purpose', 'orig_taz', 'orig_walk_segment',
       'dest_taz', 'dest_walk_segment', 'parking_taz', 'depart_hour',
       'trip_mode', 'num_participants', 'tour_mode', 'tour_category',
       'avAvailable', 'sampleRate', 'taxiWait', 'singleTNCWait',
       'sharedTNCWait'],
      dtype='object')

In [8]:
out_tripdata

,hh_id,tour_id,stop_id,inbound,tour_purpose,orig_purpose,dest_purpose,orig_taz,dest_taz,depart_hour,...,tours,transbay_od,orig_rdm_zones,orig_super_dist,orig_county,dest_rdm_zones,dest_super_dist,dest_county,home_zone,pp_share
0,1453438,0,-1,0,shopping,Home,shopping,1,10,8,...,inm,0.0,75,26,4,199,4,8,1,0.0
1,1453438,0,-1,1,shopping,shopping,Home,10,1,20,...,inm,0.0,199,4,8,75,26,4,1,0.0
2,1453438,0,-1,0,shopping,Home,shopping,1,552,17,...,inm,0.0,75,26,4,237,1,3,1,0.0
3,1453438,0,-1,1,shopping,shopping,Home,552,1,19,...,inm,0.0,237,1,3,75,26,4,1,0.0
4,1453520,0,-1,0,othdiscr,Home,othdiscr,1,260,10,...,inm,0.0,75,26,4,33,17,6,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3842941,1100430,0,-1,1,othdiscr,othdiscr,Home,3262,3332,16,...,joint,0.0,37,25,4,172,7,3,3332,0.0
3842942,1100823,0,-1,0,social,Home,social,3332,234,8,...,joint,0.0,172,7,3,231,17,1,3332,0.0
3842943,1100823,0,-1,1,social,social,Home,234,3332,8,...,joint,0.0,231,17,1,172,7,3,3332,0.0
3842944,1100531,0,-1,0,othdiscr,Home,othdiscr,3332,3293,18,...,joint,0.0,172,7,3,254,20,9,3332,0.0
3842945,1100531,0,-1,1,othdiscr,othdiscr,Home,3293,3332,21,...,joint,0.0,254,20,9,172,7,3,3332,0.0

In [30]:
test = ind_trip[ind_trip['hh_id'] == 1452960]
test.sort_values(['person_id', 'depart_hour'])

,hh_id,person_id,person_num,tour_id,stop_id,inbound,tour_purpose,orig_purpose,dest_purpose,orig_taz,...,parking_taz,depart_hour,trip_mode,tour_mode,tour_category,avAvailable,sampleRate,taxiWait,singleTNCWait,sharedTNCWait
21,1452960,3775241,1,0,-1,0,work_very high,Home,work,1,...,0,10,6,6,MANDATORY,0,0.15,9.709640,6.099248,8.727597
23,1452960,3775241,1,11,-1,0,atwork_eat,Work,atwork,178,...,0,10,4,4,AT_WORK,0,0.15,3.956200,2.662785,4.836945
24,1452960,3775241,1,11,0,1,atwork_eat,atwork,shopping,186,...,0,16,4,4,AT_WORK,0,0.15,1.752420,1.561598,3.446099
25,1452960,3775241,1,11,1,1,atwork_eat,shopping,Work,175,...,0,16,4,4,AT_WORK,0,0.15,4.953183,3.085352,5.311424
22,1452960,3775241,1,0,-1,1,work_very high,work,Home,178,...,0,20,6,6,MANDATORY,0,0.15,5.217885,3.192441,5.427815
26,1452960,3775242,2,0,-1,0,work_very high,Home,work,1,...,0,5,6,6,MANDATORY,0,0.15,10.991811,6.915722,9.626427
27,1452960,3775242,2,0,-1,1,work_very high,work,Home,126,...,0,11,6,6,MANDATORY,0,0.15,0.669317,0.831034,2.308258
28,1452960,3775242,2,1,-1,0,work_very high,Home,work,1,...,0,12,1,1,MANDATORY,0,0.15,17.539009,11.101765,13.926604
30,1452960,3775242,2,21,-1,0,atwork_business,Work,atwork,126,...,0,12,4,4,AT_WORK,0,0.15,8.594538,4.427525,6.681333
31,1452960,3775242,2,21,0,1,atwork_business,atwork,work,117,...,0,12,4,4,AT_WORK,0,0.15,0.606733,0.779251,2.215812
32,1452960,3775242,2,21,1,1,atwork_business,work,Work,116,...,0,12,4,4,AT_WORK,0,0.15,1.288967,1.276865,3.032398
29,1452960,3775242,2,1,-1,1,work_very high,work,Home,126,...,0,18,1,1,MANDATORY,0,0.15,3.760765,2.575827,4.735985
33,1452960,3775243,3,0,-1,0,work_very high,Home,work,1,...,0,8,6,6,MANDATORY,0,0.15,12.001191,7.559359,10.318560
34,1452960,3775243,3,0,-1,1,work_very high,work,Home,68,...,0,16,6,6,MANDATORY,0,0.15,12.728220,5.727064,7.868142
35,1452960,3775243,3,0,-1,0,eatout,Home,eatout,1,...,0,18,4,4,INDIVIDUAL_NON_MANDATORY,0,0.15,15.026750,9.492610,12.324930
36,1452960,3775243,3,0,-1,1,eatout,eatout,Home,517,...,0,19,4,4,INDIVIDUAL_NON_MANDATORY,0,0.15,18.506565,7.319283,9.195086
37,1452960,3775245,5,0,-1,0,work_very high,Home,work,1,...,0,9,1,2,MANDATORY,0,0.15,6.362837,3.975168,6.249329
39,1452960,3775245,5,11,-1,0,atwork_eat,Work,atwork,2226,...,0,12,4,4,AT_WORK,0,0.15,4.234631,2.784160,4.975875
40,1452960,3775245,5,11,-1,1,atwork_eat,atwork,Work,2090,...,0,13,4,4,AT_WORK,0,0.15,2.639269,2.042325,4.086734
38,1452960,3775245,5,0,-1,1,work_very high,work,Home,2226,...,0,21,2,2,MANDATORY,0,0.15,7.290470,3.974874,6.238881
43,1452960,3775246,6,1,-1,0,shopping,Home,shopping,1,...,0,12,3,3,INDIVIDUAL_NON_MANDATORY,0,0.15,16.123652,10.194801,13.030658
44,1452960,3775246,6,1,-1,1,shopping,shopping,Home,348,...,0,13,3,3,INDIVIDUAL_NON_MANDATORY,0,0.15,2.094861,1.755384,3.711958
41,1452960,3775246,6,0,-1,0,escort_kids,Home,escort,1,...,0,15,2,3,INDIVIDUAL_NON_MANDATORY,0,0.15,5.496046,3.427160,5.566343
42,1452960,3775246,6,0,-1,1,escort_kids,escort,Home,626,...,0,18,3,3,INDIVIDUAL_NON_MANDATORY,0,0.15,3.115045,2.276665,4.378715
45,1452960,3775247,7,0,-1,0,othmaint,Home,othmaint,1,...,0,8,2,2,INDIVIDUAL_NON_MANDATORY,0,0.15,8.560128,5.368430,7.900367
46,1452960,3775247,7,0,-1,1,othmaint,othmaint,Home,2004,...,0,19,2,2,INDIVIDUAL_NON_MANDATORY,0,0.15,10.506157,5.050376,7.264053
47,1452960,3775247,7,1,-1,0,eatout,Home,eatout,1,...,0,20,1,3,INDIVIDUAL_NON_MANDATORY,0,0.15,19.308666,12.237082,15.025814
48,1452960,3775247,7,1,-1,1,eatout,eatout,Home,346,...,0,20,2,3,INDIVIDUAL_NON_MANDATORY,0,0.15,3.970441,2.669064,4.844187
49,1452960,3775248,8,0,-1,0,shopping,Home,shopping,1,...,0,13,2,2,INDIVIDUAL_NON_MANDATORY,0,0.15,14.724501,9.299236,12.128595
50,1452960,3775248,8,0,-1,1,shopping,shopping,Home,734,...,0,14,1,2,INDIVIDUAL_NON_MANDATORY,0,0.15,6.273301,3.918514,6.179728

In [58]:
df = out_tripdata.copy()
df['new_dest_purp'] = df['dest_purpose']
df['new_orig_purp'] = df['orig_purpose']

In [59]:
df.loc[(df['tour_purpose'] == 'atwork_eat') & (df['dest_purpose'] == 'atwork'), 'new_dest_purp'] = 'eatout'
df.loc[(df['tour_purpose'] == 'atwork_eat') & (df['orig_purpose'] == 'atwork'), 'new_orig_purp'] = 'eatout'

df.loc[(df['tour_purpose'] == 'atwork_business') & (df['dest_purpose'] == 'atwork'), 'new_dest_purp'] = 'business'
df.loc[(df['tour_purpose'] == 'atwork_business') & (df['orig_purpose'] == 'atwork'), 'new_orig_purp'] = 'business'

df.loc[(df['tour_purpose'] == 'atwork_maint') & (df['dest_purpose'] == 'atwork'), 'new_dest_purp'] = 'othmaint'
df.loc[(df['tour_purpose'] == 'atwork_maint') & (df['orig_purpose'] == 'atwork'), 'new_orig_purp'] = 'othmaint'

In [16]:
# For last trip on Tour:
#    If stop destination = home:
#       If Tour Purpose = Work, then trip purpose = work
#       If Tour Purpose = School, then trip purpose = school
#       Else, trip purpose = trip origin purpose
#   If stop destination = work (i.e. work-based tour):
#       If Tour Purpose = Business, then trip purpose = business
#       Else, trip purpose = trip origin purpose
# For all other trips, trip purpose = stop destination purpose

In [51]:
#df['dest_purpose'].value_counts(), df['new_orig_purp'].value_counts(), df['new_dest_purp'].value_counts(), df['tour_purpose'].value_counts()

In [65]:
df['link21_tour_purp'] = df['tour_purpose'].map(link21_purp_mapping)
df['link21_orig_purp'] = df['new_orig_purp'].map(link21_purp_mapping)
df['link21_dest_purp'] = df['new_dest_purp'].map(link21_purp_mapping)

df['link21_trip_purp'] = df['link21_dest_purp']

In [66]:
print(df['link21_trip_purp'].value_counts())
df1 = df.loc[(df['link21_dest_purp'] == 'home')]
print(df1['link21_trip_purp'].value_counts())
conditions = [
    df1['link21_tour_purp'].eq('work'),
    df1['link21_tour_purp'].eq('school'),
    ~df1['link21_tour_purp'].isin(['work','school'])
]

choices = ['work', 'school', df1['link21_orig_purp']]
df1['link21_trip_purp'] = np.select(conditions, choices, default=0)
print(df1['link21_trip_purp'].value_counts())

df2 = df.loc[(df['link21_dest_purp'] != 'home')]
df2['link21_trip_purp'] = df2['link21_dest_purp']
print(df2['link21_trip_purp'].value_counts())

df = pd.concat([df1, df2], ignore_index=True)
print(df['link21_trip_purp'].value_counts())

home        1397549
work         654588
shopping     393883
social       373272
escort       321643
othmaint     251589
othdiscr     220144
school       210599
business      19679
Name: link21_trip_purp, dtype: int64
home    1397549
Name: link21_trip_purp, dtype: int64
work        463725
school      209109
shopping    207721
escort      142020
social      140961
othdiscr    132627
othmaint    101386
Name: link21_trip_purp, dtype: int64
work        654588
shopping    393883
social      373272
escort      321643
othmaint    251589
othdiscr    220144
school      210599
business     19679
Name: link21_trip_purp, dtype: int64
work        1118313
shopping     601604
social       514233
escort       463663
school       419708
othmaint     352975
othdiscr     352771
business      19679
Name: link21_trip_purp, dtype: int64

In [67]:
print(df1['link21_trip_purp'].value_counts())

work        463725
school      209109
shopping    207721
escort      142020
social      140961
othdiscr    132627
othmaint    101386
Name: link21_trip_purp, dtype: int64

In [69]:
print(df['link21_trip_purp'].value_counts())
df1 = df.loc[df['dest_purpose'] == 'atwork']
print(df1['link21_trip_purp'].value_counts())

conditions = [
    df1['link21_tour_purp'].eq('business'),
    ~df1['link21_tour_purp'].eq('business')
]

choices = ['business', df1['link21_orig_purp']]
df1['link21_trip_purp'] = np.select(conditions, choices, default=0)
print(df1['link21_trip_purp'].value_counts())


df2 = df.loc[(df['dest_purpose'] != 'atwork')]

df = pd.concat([df1, df2], ignore_index=True)
print(df['link21_trip_purp'].value_counts())

work        1118313
shopping     601604
social       514233
escort       463663
school       419708
othmaint     352975
othdiscr     352771
business      19679
Name: link21_trip_purp, dtype: int64
social      92062
business    19679
othmaint    14831
Name: link21_trip_purp, dtype: int64
work        99299
business    19679
othmaint     2347
social       2335
shopping     1575
escort       1199
othdiscr      138
Name: link21_trip_purp, dtype: int64
work        1217612
shopping     603179
escort       464862
social       424506
school       419708
othdiscr     352909
othmaint     340491
business      19679
Name: link21_trip_purp, dtype: int64

In [70]:
out_tripdata['trips'] = 1

## Dashboard Data

In [26]:
df = out_tripdata.groupby(['orig_taz', 'dest_taz', 'orig_rdm_zones', 'dest_rdm_zones', 'orig_super_dist', 'dest_super_dist',
                           'orig_county', 'dest_county', 'transbay_od', 'trip_purpose', 'trip_mode', 'depart_hour', 'pp_share'])['trips'].sum().reset_index()

In [27]:
df[1:10]

,orig_taz,dest_taz,orig_rdm_zones,dest_rdm_zones,orig_super_dist,dest_super_dist,orig_county,dest_county,transbay_od,trip_purpose,trip_mode,depart_hour,pp_share,trips
1,1,1,75,75,26,26,4,4,0.0,othdiscr,2,21,0.0,1
2,1,1,75,75,26,26,4,4,0.0,othdiscr,4,11,0.0,1
3,1,1,75,75,26,26,4,4,0.0,othdiscr,4,15,0.0,1
4,1,1,75,75,26,26,4,4,0.0,othdiscr,4,18,0.0,3
5,1,1,75,75,26,26,4,4,0.0,othdiscr,4,19,0.0,1
6,1,1,75,75,26,26,4,4,0.0,social,4,17,0.0,2
7,1,1,75,75,26,26,4,4,0.0,work_med,4,8,0.0,1
8,1,1,75,75,26,26,4,4,0.0,work_med,4,18,0.0,1
9,1,3,75,48,26,16,4,4,0.0,othmaint,1,17,0.0,1

In [28]:
df['trip_purpose'].value_counts()

work_very high     507708
shopping           439435
othdiscr           353602
work_high          299212
school_grade       292704
escort_kids        260629
othmaint           256661
work_med           236340
atwork_eat         153366
eatout             152627
work_low           126548
social             111760
escort_no kids      78895
university          75133
school_high         54046
atwork_business     37473
atwork_maint        28964
Name: trip_purpose, dtype: int64

In [30]:
purpose = {'work_very high': 1,
'shopping': 2,
'othdiscr': 3,
'work_high' : 4,
'school_grade': 5,
'escort_kids': 6,
'othmaint': 7,
'work_med': 8,
'atwork_eat': 9,
'eatout': 10,
'work_low': 11,
'social': 12,
'escort_no kids': 13,
'university': 14,
'school_high': 15,
'atwork_business': 16,
'atwork_maint': 17}

In [32]:
df['trip_purpose'] = df['trip_purpose'].map(purpose)

In [33]:
df.shape

(3465103, 14)

In [35]:
df['trip_mode'].value_counts()

1    1517140
2     820691
3     497809
4     338116
6     166931
5      76723
7      20820
8      17444
9       9429
Name: trip_mode, dtype: int64

In [37]:
df['scenario'] = 'case1'

In [38]:
df.to_parquet(r'C:\Users\vyadav\OneDrive - Cambridge Systematics\CS-Projects\LINK21\data\trips.parquet')